<div class="main-warpper">
<div class="main">
  <div class="copy-container">
    <h3>育児に関する日記を投稿するサイトです！<br>🍙おにぎりメンバーサイト🍙</h3>
  </div>
    <h3>始め方</h3>
    <h4>新規登録してない方</h4>
    !!新規登録する!!
  　<div class="epb">・名前・メールアドレス・パスワード
    登録ボタンをクリック
    「ユーザー登録が完了しました」とメッセージがでたら登録完了<br>そのままログインも完了
    <br>右上の名前でログインを確認</div>

    <h4>新規登録してる方</h4>
    !!ログインする!!
    <div class="epb">    ・メールアドレス・パスワードを入力
    ログインボタンをクリック<br>
    「ログインしました」とメッセージがでたらログイン完了<br>
    右上の名前でログインを確認</div>

    <h3>日記を投稿しよう</h3>
    <div class="epb">ログインができたら作成をクリック
    タイトル、内容を書き込む
    <br>写真をつけたい方は「ファイルを選択」を押して、写真ファイルを選択すると、写真がアップロードされます</div>

  <h3>日記を見よう</h3>
  <div class="epb"> 日記一覧をクリック
  全メンバーの日記が投稿順に見えます<br>
  見たい日記の内容部分をクリックすると、その日記の詳細ページに飛びます<br>
  気に入った日記にはいいね、できるのでいいねしよう！<br>
  自分のだけを見たいときは「自分の日記」をクリックします</div>

</div>
</div>