// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-warpper{
    background-image: url("/images/1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main{
    text-align: center;
    min-height: 600px;
}

.copy-container h3{
    color: rgb(139, 148, 148);
}

.top{
    font-size: 18px;
}

.message-form{
}

.s-btn{
    display: inline-block;
    color:honeydew
}

.new{
    background-color: rgb(240, 6, 57);
}

.login{
    background-color: rgb(41, 216, 79);
}

.epb{
    border: solid 2px #000000;
    border-radius: 12px; 
    background-color: #fff;
    opacity: 0.8;

}

@media (max-width: 559px){
    
    .header-logo{
        padding:0px 10px;
        font-size:8px;
    }
    
    header{
        background-color:orangered;
        height: 100px;
        position: fixed;
        z-index: 2;
        top:0;
        left:0;
        width: 100%;
    }
    
    .header-list li{
        padding: 5px 20px 0px 0px;
        font-size: 14px;
    }
    
    .header-list{
        float:left;
    }
    
    .user_name{
        font-weight: bold;
        color: rgb(54, 101, 128);
        font-size: 13px;
        position: absolute;
        top:0;
        left:80%;
    }
    
    
    body{
        margin-top: 110px;
    }
    
    }